<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kata - Color Mixer</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div id="app">
      <header id="kopf">
        <label for="slider-red">red</label>
        <input
          id="slider-red"
          type="range"
          step="1"
          min="0"
          max="255"
          v-model="valueRed"
          @change="setBackgroundColor"
        />
        <label for="slider-green">green</label>
        <input
          id="slider-green"
          type="range"
          step="1"
          min="0"
          max="255"
          v-model="valueGreen"
          @change="setBackgroundColor"
        />
        <label for="slider-blue">blue</label>
        <input
          id="slider-blue"
          type="range"
          step="1"
          min="0"
          max="255"
          v-model="valueBlue"
          @change="setBackgroundColor"
        />
        <span
          >rgb(<span v-text="valueRed"></span>,
          <span v-text="valueGreen"></span>,
          <span v-text="valueBlue"></span>)</span
        >
        <button id="btn" @click="randomColor, setBackgroundColor">
          Random Color
        </button>
      </header>
    </div>
    <main id="haupt"></main>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="script.js"></script>
  </body>
</html>
