#kopf {
  height: 5vh;
  outline: 1px solid red;
}

#haupt {
  height: 95vh;
  outline: 1px solid red;
}

#slider-red {
  accent-color: red;
}

#slider-green {
  accent-color: green;
}

#slider-blue {
  accent-color: blue;
}
