body {
  margin: 0;
  padding: 0;
}

#kopf {
  height: 10vh;
  width: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

#haupt {
  height: 100vh;
}

#slider-red {
  accent-color: red;
}

#slider-green {
  accent-color: green;
}

#slider-blue {
  accent-color: blue;
}
